body{
  background-color: gray;;
  }

.form {
 padding:130px;

}
  
.box {
  margin-top: 10px;
  padding:30px;
  background-color: #fafafa;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  }

.msg-div {
  margin-bottom: -10px;
}

.delete-btn {
  height: 2.5em;
  font-size: 20px;
  margin-right: 14px;
}

.prom {
  border: solid #000000 2px;
  padding: 16px;
  padding-bottom: 21px;
}